/* styles/AddToCart.module.css */
.successMessage {
    text-align: center;
    margin-top: 10px;
    text-emphasis-color: green;
  }
  
.parts-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr; 
    gap: 10px 20px;
}

.parts-list-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr; 
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.componentName {
    text-align: center;
}

.addToCartButtonComponent,
.customizeButtonComponent {
    padding: 8px 16px;
    font-size: 0.9em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
    margin-left: 20px;
}

.addToCartButtonComponent {
    background-color: blueviolet;
}

.addToCartButtonComponent:hover {
    background-color: #ffc107;
    color: #000;
}

.customizeButtonComponent {
    background-color: #ffc107;
    color: #000;
}

.customizeButtonComponent:hover {
    background-color: blueviolet;
    color:#ddd;
}


.title {
    margin: 20Px;
    font-size: 36px;
    text-align: center;
}

.componentsHeader{
    font-size: 24px;
    margin-left: 100px;
}

.price{
    font-size: 24px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 100px;;
}