/* Home.module.css */

.successMessage {
  text-align: center;
  margin-top: 10px;
  text-emphasis-color: green;
}


.container {
    width: 80%;
    padding: 0 15px;
    margin: 0 auto;
    
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .gridItem {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gridItemSubmit {
    justify-self: center;
    align-self: center;
    width: 60%;
    background: #E0DFF1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .addToCartButtonComponent,
  .customizeButtonComponent {
      padding: 8px 16px;
      font-size: 0.9em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      transition: background-color 0.2s ease-in-out;
      margin-left: 20px;
  }
  
  .addToCartButtonComponent {
      background-color: blueviolet;
  }
  
  .addToCartButtonComponent:hover {
      background-color: #ffc107;
      color: #000;
  }
  
  .customizeButtonComponent {
      background-color: #ffc107;
      color: #000;
  }
  
  .customizeButtonComponent:hover {
      background-color: blueviolet;
      color:#ddd;
  }
  
  
  .image {
    max-height: 100px;
    max-width: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .component {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    font-size: 1.5rem;
  }

  .title {
    margin: 20Px;
    font-size: 36px;
    text-align: center;
}

.container h1{
    font-size: 24px;
    margin-left: 10px;
    margin-bottom: 20px;
}