
.container {
  background-image: linear-gradient(120deg, #E0DFF1 100%, #E0DFF1 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 2rem;
}
  
  .card {
    /* From https://css.glass */
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 500px;
    width: fit-content;
    padding: 20px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .card h2 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .image {
    height: 200px; /* Adjust as necessary */
    object-fit: cover;
    align-self: center;
    justify-self: cetner;
  }