@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding-bottom: 80px;
}