/* index page */
.startbuilddiv{
    width: 100%;
    height: 645px;
    padding-left: clamp(5px, 4vw, 50px);
    float: left;
    background-image: url(../public/indexpageimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media only screen and (max-width: 768px) {
    .startbuilddiv {
      background-size: cover;
    }
  }
  
  .buildMachinep{
    font-family: 'Lao Sans Pro';
    font-style: normal;
    font-size: clamp(10px, 4vw, 48px);
    color: #000000; 
    padding-top: 6rem;
  }
  
  .startbuildbtn{
    font-family: 'Lao Sans Pro';
    font-style: normal;
    font-size: clamp(12px, 2vw, 25px);
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 1rem;
  }

  
  .usercardsscroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #E0DFF1;
  }
  

  .usercards {
    display: flex;
    margin: 20px;

  }

  .usercardh1 {
    font-size: 40px;
    margin: 20px;
    
  }